@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");
body, .table-label, .value, .body-regular {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  line-height: 150%;
  color: #5F564D;
}

.table-value, .label, .body-bold {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

ol li::marker, .heading-small {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #7A284E;
  font-size: 20px;
}

.heading-medium, .heading-large {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
}

.heading-large {
  font-size: 36px;
  color: #312E2C;
}
@media screen and (min-width: 768px) {
  .heading-large {
    font-size: 40px;
  }
}

.heading-medium {
  font-size: 28px;
  color: #854632;
  font-weight: 400;
}

.body-regular {
  margin-top: 24px;
}

ul.custom-bullets {
  list-style-type: none;
  padding-left: 0;
}

ul.custom-bullets li {
  position: relative;
  padding-left: 40px;
}

ul.custom-bullets li::before {
  content: "•";
  position: absolute;
  top: 50%;
  left: 8px;
  font-size: 20px;
  color: #7A284E;
  transform: translateY(-50%);
}

li {
  margin-top: 8px;
}

.label {
  letter-spacing: 0.2px;
  color: #5F564D;
  font-weight: 600;
}

hr {
  margin-top: 32px;
  border: 0.5px solid #E3DDD7;
}

ol {
  list-style-position: outside;
  margin-left: -16px;
}

ol li::marker {
  color: #854632;
  font-size: 16px;
  font-weight: 600;
}

table {
  width: 100%;
  margin-top: 12px;
}

td {
  padding: 10px 30px;
  border-bottom: 1px solid #E3DDD7;
}

.table-label {
  margin-top: 24px;
}

.table-value {
  color: #854632;
  font-weight: 600;
  padding-right: 72px;
}
@media screen and (min-width: 768px) {
  .table-value {
    padding-right: 52px;
  }
}

tr:last-child td {
  border-bottom: none;
}

body {
  width: 100vw;
  background-color: #F3E5D7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body main {
  width: 100%;
  background-color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  body main {
    box-sizing: border-box;
    max-width: 736px;
    margin-top: 123px;
    margin-bottom: 124px;
    padding: 40px;
    padding-bottom: 28px;
    border-radius: 24px;
  }
}
body main img {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  body main img {
    border-radius: 12px;
  }
}
body main article {
  max-width: 100%;
  padding: 35px 32px;
}
@media screen and (min-width: 768px) {
  body main article {
    padding: 0;
  }
  body main article #introduction {
    margin-top: 32px;
  }
}
body main article aside {
  margin-top: 28px;
  padding: 24px;
  padding-bottom: 10px;
  background-color: #FFF7FB;
  border-radius: 12px;
}
@media screen and (min-width: 768px) {
  body main article aside {
    padding: 28px;
    padding-bottom: 12px;
  }
}
body main article #ingredients {
  margin-top: 32px;
}
body main article #ingredients li:first-child {
  margin-top: 24px;
}
body main article #instructions {
  margin-top: 32px;
}
body main article #instructions ol li .container {
  width: 100%;
  max-width: 100%;
  margin-left: 18px;
}
body main article #instructions ol li .container .value {
  padding-right: 12px;
}
@media screen and (min-width: 768px) {
  body main article #instructions ol li .container {
    width: 617px;
  }
}
body main article #instructions ol li:first-child {
  margin-top: 24px;
}
body main article #nutrition {
  margin-top: 32px;
}
body main article #nutrition p {
  margin-bottom: 0;
  display: inline-block;
  padding-right: 12px;
}
@media screen and (min-width: 768px) {
  body main article #nutrition p {
    max-width: 617px;
  }
}
body footer {
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
