@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap')

// Breakpoints
$desktop: 768px

// Color Palette
$colors: (primary: #F3E5D7, secondary: #FFFFFF, tertiary: #FFF7FB, heading-primary: #312E2C, heading-secondary: #854632, heading-tertiary: #7A284E, body-primary: #5F564D, rule: #E3DDD7)
 
// Font Weights
$font-weights: (light: 300, normal: 400, semi-bold: 500, bold: 600, heavy: 700)

// Font Sizes
$font-sizes: (heading-extra-large: 40px, heading-large: 36px, heading-medium: 28px, heading-small: 20px, body: 16px, label: 16px, value: 16px)

// Line Heights
$line-heights: (heading: 100%, body: 150%)

// Border Radii
$border-radii: (large: 24px, small: 12px)

%outfit
    font-family: "Outfit", sans-serif
    font-optical-sizing: auto
    font-weight: map-get($font-weights, light) //
    font-style: normal
    line-height: map-get($line-heights, body) //
    color: map-get($colors, body-primary) //

%young-serif-regular
    font-family: "Young Serif", serif
    font-weight: map-get($font-weights, normal)
    font-style: normal
    line-height: map-get($line-heights, heading)

@mixin heading-large
    @extend %young-serif-regular
    font-size: map-get($font-sizes, heading-large)
    color: map-get($colors, heading-primary)

    @media screen and (min-width: $desktop)
        font-size: map-get($font-sizes, heading-extra-large)

@mixin heading-medium
    @extend %young-serif-regular
    font-size: map-get($font-sizes, heading-medium)
    color: map-get($colors, heading-secondary)

@mixin heading-small
    @extend %outfit
    font-weight: map-get($font-weights, semi-bold)
    color: map-get($colors, heading-tertiary)
    font-size: map-get($font-sizes, heading-small)

@mixin body-regular
    @extend %outfit
    margin-top: 24px

@mixin custom-bullets
    list-style-type: none
    padding-left: 0

    li
        position: relative
        padding-left: 40px

    li::before
        content: '•'
        position: absolute
        top: 50%
        left: 8px
        font-size: map-get($font-sizes, heading-small)
        color: map-get($colors, heading-tertiary)
        transform: translateY(-50%)

@mixin list-item
    margin-top: 8px

    &:first-child
        margin-top: 24px

@mixin label
    @extend %outfit
    letter-spacing: 0.2px
    color: map-get($colors, body-primary)
    font-weight: map-get($font-weights, bold)

@mixin value
    @extend %outfit

hr
    margin-top: 32px
    border: 0.5px solid map-get($colors, rule)

@mixin ordered-list
    list-style-position: outside
    margin-left: -16px
    
    li::marker
        @extend %outfit
        color: map-get($colors, heading-secondary)
        font-size: map-get($font-sizes, body)
        font-weight: map-get($font-weights, bold)

@mixin table
    width: 100%
    margin-top: 12px

@mixin table-row
    &:last-child td
        border-bottom: none

@mixin table-label
    @extend %outfit
    margin-top: 24px
    padding: 10px 30px
    border-bottom: 1px solid map-get($colors, rule)

@mixin table-value
    @extend %outfit
    color: map-get($colors, heading-secondary)
    font-weight: map-get($font-weights, bold)
    padding: 10px 30px
    border-bottom: 1px solid map-get($colors, rule)
    padding-right: 72px

    @media screen and (min-width: $desktop)
        padding-right: 52px