@use 'config'

body
    width: 100vw
    background-color: config.$background-color-primary
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    @extend %outfit-regular

    main
        width: 100%
        background-color: config.$background-color-secondary

        img
            max-width: 100%

        article
            max-width: 100%
            padding: 35px 32px

            aside
                margin-top: 28px
                padding: 24px
                padding-bottom: 10px
                background-color: config.$background-color-tertiary
                border-radius: config.$border-radius-small

            #ingredients
                margin-top: 32px
                
                li:first-child
                    margin-top: 24px
