@use 'config'

.recipe-page
    width: 100vw
    background-color: config.$background-color-primary
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    @extend %outfit-regular

    &__main
        width: 100%
        background-color: config.$background-color-secondary

        @media screen and (min-width: config.$desktop)
            box-sizing: border-box
            max-width: 736px
            margin-top: 123px
            margin-bottom: 124px
            padding: 40px
            padding-bottom: 28px
            border-radius: config.$border-radius-large

    &__image
        max-width: 100%

        @media screen and (min-width: config.$desktop)
            border-radius: config.$border-radius-small

    .recipe
        max-width: 100%
        padding: 35px 32px

        @media screen and (min-width: config.$desktop)
            padding: 0

            &__introduction
                margin-top: 32px

        &__title
            @include config.heading-large

        &__description
            @include config.body-regular

        &__preparation-time
            margin-top: 28px
            padding: 24px
            padding-bottom: 10px
            background-color: config.$background-color-tertiary
            border-radius: config.$border-radius-small

            @media screen and (min-width: config.$desktop)
                padding: 28px
                padding-bottom: 12px

        &__heading-small
            @include config.heading-small
            margin-bottom: -8px

        &__list
            @include config.custom-bullets

        &__list-item
            @include config.list-item

        &__label
            @include config.label

        &__value
            @include config.value

        &__ingredients
            margin-top: 32px
            
            li:first-child
                margin-top: 24px

        &__heading-medium
            @include config.heading-medium

        &__instructions
            margin-top: 32px

        &__ordered-list
            @include config.ordered-list

        &__container
            width: 100%
            max-width: 100%
            margin-left: 18px

        &__value
            padding-right: 12px

            @media screen and (min-width: config.$desktop)
                width: 617px

        &__nutrition
            margin-top: 32px

        &__description
            margin-bottom: 0
            display: inline-block
            padding-right: 12px

        &__table
            @include config.table

        &__table_row
            @include config.table-row

        &__table-label
            @include config.table-label

        &__table-value
            @include config.table-value
            padding-right: 72px

    &__footer
        text-align: center
